body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background: url(https://phonoteka.org/uploads/posts/2021-05/thumbs/1620968020_6-phonoteka_org-p-oboi-dlya-kukhni-fon-7.jpg);
  overflow-x: hidden;
  height: 700px;
}


.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 500;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
  background: #ddd;
  color: black;
  border-radius: 80%;
}
.navbar-wrap ul li a.active-page {
  background-color: rgb(247, 92, 218);
  border-radius: 40%;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.callback {
  margin-left: 30px;
  padding: 10px 30px;
  background-color: rgb(247, 92, 218);
  border-radius: 100px;
  color: aliceblue;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(52, 200, 233, 0.2);
  transition: all.1s ease-out;
}
.callback:hover {
  transform: scale(1.04);
  color: aliceblue;
  box-shadow: 0 9px 6px rgba(52, 200, 233, 0.1);
}
.navbar-brand-img {
  margin-left: -700px;
}
.navbar-brand {
  margin-left: 100px;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
}

.navbar-brand:hover {
  color: rgb(247, 92, 218);
  transition: all 0.2s ease-in-out;
}
.quiz {
  margin: 60px;
  width: 600px;
  font-weight: 700;
  background-color: rgba(91, 33, 33, 0.7);
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: aliceblue;
 
}
.quiz-questions,
.quiz-indicator,
.quiz-results {
  margin-bottom: 20px;
}

/*.quiz-questions-item,
.quiz-results-item {
  &__question {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__answers {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.quiz-indicator {
}*/

.quiz-results {
  display: none;
}

.btn-next {
  color: aliceblue;
  background-color: rgb(91, 33, 33);
  border-radius: 20px;
}
.btn-next :hover {
  color: rgb(91, 33, 33);
  background-color: aliceblue;
}
.btn-restart {
  display: none;
  color: aliceblue;
  background-color: rgb(91, 33, 33);
  border-radius: 20px;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
  display: none;
}

.results--visible,
.btn-restart--visible {
  display: block;
}

.answer--invalid {
  color: rgb(255, 0, 0);
}
.answer--valid {
  color: rgb(105, 228, 105);
}
.big-title {
  font-size: 50px;
  margin-top: 90px;
  font-weight: 800;
  background-color: rgba(91, 33, 33, 0.5);
  color: aliceblue;
  padding-bottom: 30px;
  padding-top: 30px;
}
.paragraph {
  font-size: 20px;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgba(91, 33, 33, 0.7);
  font-weight: 700;
}
